export const tableOption = {
  "border": true,
  "index": true,
  "indexLabel": "序号",
  "stripe": true,
  "menuAlign": "center",
  "align": "center",
  "searchMenuSpan": 6,
  "column": [
#foreach ($column in $columns)
	  {
      "type": "input",
      "label": "$column.comments",
      "prop": "$column.lowerAttrName"
    }#if($foreach.hasNext),#end
#end
  ]
}
