root = true

# 对所有文件生效
[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{java,xml}]
indent_style = tab
indent_size = 4

[*.{yml,json}]
indent_style = space
indent_size = 2

# 对后缀名为 md 的文件生效
[*.md]
trim_trailing_whitespace = false
