// 以下内容请复制到pages.json
"pages": [

    /**${comments}**/
    {
        "path": "pages/${moduleName}/${pathName}/${pathName}+'-index.vue'",
        "style": {
        "navigationBarTitleText": "${comments}"
        }
    },
    {
        "path": "pages/${moduleName}/${pathName}/${pathName}+'-form.vue'",
        "style": {
        "navigationBarTitleText": "${comments}详情"
        }
    }
}