
.el-input__inner{
    height: 45px;
    line-height: 45px;
}
.el-dropdown-menu__item{
    font-size: 12px;
    line-height: 28px;
}
.el-menu--popup{
    padding: 0;
}
.el-select,.el-date-editor.el-input, .el-date-editor.el-input__inner{
    width: 100%;
}
.display,
.display + .el-submenu__icon-arrow {
  display: none;
}