.tags-container {
  position: relative;
  box-sizing: border-box;
  overflow: hidden;
  .tags-breadcrumb{
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 60px;
  }
  .tags-breadcrumb-list{
    padding: 0 25px;
  }
  .tags-box{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 40px;
    overflow:hidden;
    background: #f0f0f0;
    
  }
  .tag-collapse{
    font-size: 36px !important;
  }
  .tag-collapse.tag-collapse_right {
    transform: rotate(90deg);
  }
  .tags-list{
    flex: 1;
    position: relative;
    padding: 0 16px;
  }
  .tag-scroll{
    width: 200%;
  }
  .tag-item-icon{
    color: #eee;
    font-size: 10px !important;
  }
  .tag-item-icon.is-active{
    color: $mainBg;
  }
  .tag-item {
      position: relative;
      display: inline-block;
      height: 30px;
      line-height: 30px;
      margin: 2px 4px 2px 0;
      padding: 0 10px;
      border: 1px solid #e9eaec;
      border-radius: 3px;
      background: #fff;
      color: #495060!important;
      font-size: 12px;
      vertical-align: middle;
      opacity: 1;
      overflow: hidden;
      cursor: pointer;
  }
  .tag-text{
    margin-left: 8px;
  }
  .tag-close{
    margin-left: 8px;
  }
  .tag-item:hover {
    opacity: .85;
  }
  .tags-menu{
   margin-right: 5px;
   box-sizing: border-box;
  }
}
.contextmenu {
  margin: 0;
  background: #fff;
  z-index: 2;
  position: fixed;
  list-style-type: none;
  padding: 5px 0;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 400;
  color: #333;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.3);
  li {
    margin: 0;
    height: 32px;
    line-height: 32px;
    padding: 0 15px;
    cursor: pointer;
    &:hover {
      background: #eee;
    }
  }
}