<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anjiplus.template.gaea.business.modules.dataset.dao.DataSetMapper">

    <resultMap type="com.anjiplus.template.gaea.business.modules.dataset.dao.entity.DataSet" id="DataSetMap">
        <!--jdbcType="{column.columnType}"-->
        <result property="id" column="id"  />
        <result property="setCode" column="set_code"  />
        <result property="setName" column="set_name"  />
        <result property="setDesc" column="set_desc"  />
        <result property="sourceCode" column="source_code"  />
        <result property="dynSentence" column="dyn_sentence"  />
        <result property="caseResult" column="case_result"  />
        <result property="enableFlag" column="enable_flag"  />
        <result property="deleteFlag" column="delete_flag"  />
        <result property="createBy" column="create_by"  />
        <result property="createTime" column="create_time"  />
        <result property="updateBy" column="update_by"  />
        <result property="updateTime" column="update_time"  />
        <result property="version" column="version"  />

    </resultMap>

    <sql id="Base_Column_List">
        id,set_code,set_name,set_desc,source_code,dyn_sentence,case_result,enable_flag,delete_flag,create_by,create_time,update_by,update_time,version
    </sql>

    <!--自定义sql -->

</mapper>
