<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.anjiplus.template.gaea.business.modules.dashboard.dao.ReportDashboardMapper">

    <resultMap type="com.anjiplus.template.gaea.business.modules.dashboard.dao.entity.ReportDashboard" id="ReportDashboardMap">
        <!--jdbcType="{column.columnType}"-->
        <result property="id" column="id"  />
        <result property="reportCode" column="report_code"  />
        <result property="title" column="title"  />
        <result property="width" column="width"  />
        <result property="height" column="height"  />
        <result property="backgroundColor" column="background_color"  />
        <result property="backgroundImage" column="background_image"  />
        <result property="previewImage" column="preview_image"  />
        <result property="presetLine" column="preset_line"  />
        <result property="refreshSeconds" column="refresh_seconds"  />
        <result property="enableFlag" column="enable_flag"  />
        <result property="deleteFlag" column="delete_flag"  />
        <result property="sort" column="sort"  />
        <result property="createBy" column="create_by"  />
        <result property="createTime" column="create_time"  />
        <result property="updateBy" column="update_by"  />
        <result property="updateTime" column="update_time"  />

    </resultMap>

    <sql id="Base_Column_List">
        id,report_code,title,width,height,background_color,background_image,preset_line,refresh_seconds,enable_flag,delete_flag,sort,create_by,create_time,update_by,update_time
    </sql>

    <!--自定义sql -->

</mapper>
