spring:
  cache:
    type: redis # 缓存类型 Redis
  data:
    redis:
      host: pig-redis  # Redis地址
      password: # Redis密码，没有留空
      port: 6379  # Redis端口
  # 数据库相关配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
    url: jdbc:mysql://pig-mysql:3306/pig?characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=GMT%2B8&allowMultiQueries=true&nullCatalogMeansCurrent=true

# 本地文件系统
file:
  local:
    enable: true
    base-path: /Users/lengleng/Downloads/img

## 登录配置
security:
  # 登录报文加密根密钥 ，必须是16位
  encodeKey: thanks,pig4cloud
  # 跳过验证码校验的客户端
  ignore-clients:
    - test

# 配置文件加密根密码
jasypt:
  encryptor:
    password: pig  # 加密根密码
    algorithm: PBEWithMD5AndDES  # 加密算法
    iv-generator-classname: org.jasypt.iv.NoIvGenerator # 无向量生成器

# swagger 配置
swagger:
  token-url: ${swagger.gateway}/admin/oauth2/token
