spring:
  cache:
    type: redis # 缓存类型 Redis
  data:
    redis:
      # Redis数据库索引（默认为11）
      database: 11
      # Redis服务器地址
      host: 127.0.0.1
      # Redis服务器连接端口
      port: 6379
      # Redis服务器连接密码（默认为空）
      password:
      # 连接池最大连接数（使用负值表示没有限制）
      # 连接超时时间（毫秒）
      timeout: 100000
      connectTimeout: 20000
      lettuce:
        pool:
          maxActive: 8
          maxIdle: 100
          minIdle: 10
          maxWait: -1
  # 数据库相关配置
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: root
    url: jdbc:mysql://127.0.0.1:3306/pig?characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&useJDBCCompliantTimezoneShift=true&useLegacyDatetimeCode=false&serverTimezone=GMT%2B8&allowMultiQueries=true&nullCatalogMeansCurrent=true

# 本地文件系统
file:
  local:
    enable: true
    base-path: /Users/lengleng/Downloads/img

## 登录配置
security:
  # 登录报文加密根密钥 ，必须是16位
  encodeKey: thanks,pig4cloud
  # 跳过验证码校验的客户端
  ignore-clients:
    - test

# 配置文件加密根密码
jasypt:
  encryptor:
    password: pig  # 加密根密码
    algorithm: PBEWithMD5AndDES  # 加密算法
    iv-generator-classname: org.jasypt.iv.NoIvGenerator # 无向量生成器

# 短信插件配置：https://www.yuque.com/vxixfq/pig/zw8udk
sms:
  is-print: false # 是否打印日志
  config-type: yaml # 配置类型，yaml