<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~    Copyright (c) 2018-2025, lengleng All rights reserved.
  ~
  ~ Redistribution and use in source and binary forms, with or without
  ~ modification, are permitted provided that the following conditions are met:
  ~
  ~ Redistributions of source code must retain the above copyright notice,
  ~ this list of conditions and the following disclaimer.
  ~ Redistributions in binary form must reproduce the above copyright
  ~ notice, this list of conditions and the following disclaimer in the
  ~ documentation and/or other materials provided with the distribution.
  ~ Neither the name of the pig4cloud.com developer nor the names of its
  ~ contributors may be used to endorse or promote products derived from
  ~ this software without specific prior written permission.
  ~ Author: lengleng (wangiegie@gmail.com)
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.pig.admin.mapper.SysRoleMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.github.pig.admin.model.entity.SysRole">
		<id column="role_id" property="roleId" />
		<result column="role_name" property="roleName" />
		<result column="role_code" property="roleCode" />
		<result column="role_desc" property="roleDesc" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="del_flag" property="delFlag" />
	</resultMap>

	<!--roleDto-->
	<resultMap id="RoleDtoMap" type="com.github.pig.admin.model.dto.RoleDTO">
		<id column="role_id" property="roleId" />
		<result column="role_name" property="roleName" />
		<result column="role_code" property="roleCode" />
		<result column="role_desc" property="roleDesc" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="del_flag" property="delFlag" />
		<result column="dept_id" property="roleDeptId"/>
		<result column="name" property="deptName"/>
	</resultMap>

	<select id="selectRolePage" resultMap="RoleDtoMap">
		SELECT
			*
		FROM
			sys_role r
		LEFT JOIN sys_role_dept rd ON rd.role_id = r.role_id
		LEFT JOIN sys_dept d ON rd.dept_id = d.dept_id
		WHERE r.del_flag = 0
		ORDER BY r.role_id ASC
	</select>
	<select id="selectListByDeptId" resultMap="BaseResultMap">
		SELECT
			r.role_id,
			r.role_name,
			r.role_code,
			r.role_desc,
			r.create_time,
			r.update_time,
			r.del_flag
		FROM sys_role r LEFT OUTER JOIN sys_role_dept rd ON rd.role_id = r.role_id
		WHERE rd.dept_id = #{deptId}
	</select>
</mapper>
