name: 同步代码

on:
  push:
    branches: [ master,dev,boot4 ]
  pull_request:
    branches: [ master,dev,boot4 ]

jobs:
  gitee:
    runs-on: ubuntu-latest
    container:
      image: "centos:8"
    steps:
      - uses: wearerequired/git-mirror-action@master #同步至 gitee
        env:
          SSH_PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
        with:
          source-repo: "git@github.com:pig-mesh/pig.git"
          destination-repo: "git@gitee.com:log4j/pig.git"
